<h4>Listados</h4>
    <ul class="list-group">
        <li *ngFor="
                let Character of CharacterList; 
                let i = index
                let isFirst = first;
                let isLast = last;
                let isEven = even;
                let isOdd = odd;" class="list-group-item d-flex justify-content-between align-items-center"
                [ngClass]="{
                    'list-group-item-dark':isLast,
                    'list-group-item-primary':isEven
                    }">

                <div>
                    <span class="text-primary">{{i+1}} </span>
                    <span>{{Character.name}} </span>
                    <strong>Power:</strong>
                    <span>- {{Character.power}}</span>
                </div>
            
                <button (click)="onDeleteCharacter(Character.id)" class="btn btn-danger">Eliminar</button>

        </li>
    </ul>
